/* NavBar */
.nav {
  padding-top: 20px;
}

.logo img {
  width: 120px;
  height: 60px;
}

.login-button {
  border: 2px solid #f7fafd;
  padding: 5px;
  border-radius: 25px;
  width: 150px;
}

.login-popup h3::before {
  content: "\f090";
  font-family: 'FontAwesome';
  font-size: 2.5rem;
  color: #FF1C64;
  float: left;
  position: relative;
  left: -15px;
  padding-left: 10px;
  top: -7px;
}

.get-report-btn {
  background-color: #5cd48f;
  border-radius: 25px;
  color: white;
  display: inline-block;
  padding: 0 40px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.login-popup {
  background-color: #e9ecef;
  margin: auto;
  padding: 40px 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 550px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content hr {
    width: 100%;
    background-color: white;
    height: 4px;
}
